<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endwith %}

    <form method="POST">

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>

    </form>

    <p>
        New user?
        <a href="{{ url_for('auth.register') }}">Create an account</a>
    </p>

</body>
</html>